<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit est omnis eligendi exercitationem quibusdam tenetur magni accusantium inventore libero. Accusantium quo impedit voluptatibus. Laboriosam amet nihil, vel aspernatur assumenda dignissimos.</p>
    <p>This is just the view of home page</p>
</body>
</html>